# ==========================================
# CONFIGURAÇÕES DE BANCO DE DADOS (POSTGRES)
# ==========================================
DB_USER=xxxx
DB_PASSWORD=xxxx
DB_DB=xxxx
DB_PORT=5432
DB_HOST=postgres
PG_URI="postgresql://xxxx:xxxx@localhost:5432/xxxx"
DBT_PG_HOST=localhost
DB_HOST_INTERNAL=postgres
DB_HOST_EXTERNAL=localhost

# ==========================================
# CREDENCIAIS DO AIRFLOW (Criação de Admin)
# ==========================================
AIRFLOW_ADMIN_USER=xxxx
AIRFLOW_ADMIN_PASSWORD=xxxx
AIRFLOW_ADMIN_EMAIL=admin@example.org

# ==========================================
# CREDENCIAIS DO MINIO (Data Lake)
# ==========================================
# Acesso raiz da interface MinIO
MINIO_ROOT_USER=xxxxs
MINIO_ROOT_PASSWORD=xxxxs

# Acesso das aplicações (Airflow/S3)
MINIO_ACCESS_KEY=xxxxs
MINIO_SECRET_KEY=xxxxs
MINIO_AUDIT_BUCKET=audit

MINIO_ENDPOINT_INTERNAL=http://minio:9000
MINIO_ENDPOINT_EXTERNAL=http://localhost:9005

# ==========================================
# CREDENCIAIS DE OBSERVABILIDADE (GRAFANA)
# ==========================================
GRAFANA_ADMIN_USER=xxxxs
GRAFANA_ADMIN_PASSWORD=xxxxs

# ==========================================
# RECEITA FEDERAL (WebDAV)
# ==========================================
RFB_SHARE_TOKEN=seu-token-aqui