dbt-core==1.11.15
dbt-postgres==1.11.0

polars>=1.0.0
connectorx>=0.3.2
pyarrow>=14.0.0
psycopg2-binary>=2.9.9
sqlalchemy>=2.0.0

sentence-transformers>=2.5.0
langchain>=0.2.0
langchain-postgres>=0.0.9
langchain-huggingface>=0.1.0

streamlit>=1.35.0

python-dotenv>=1.0.0
